button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border-width: 0;
    margin-left: 30px;
    cursor: pointer;
}

#selected_color,
#current_color {
    width: 100px;
    height: 20px;
}

#color_info,
#header {
    display: flex;
    flex-direction: row;
}

#header {
    margin-bottom: 20px;
    height: 50px;
}

#color_info {
    margin-left: 100px;
    display: none;
}